# Ignore all
*

# Add everything with extensions
!*.*

# Add all subdirectories
!*/

# Add Makefiles
!Makefile

# Ignore .vscode
.vscode/

# Ignore .out files
*.out

# Ignore object files
*.o

# Ignore .txt files generated for magics testing
*.txt

# test.cpp for testing
test.cpp

# Ignore processessed hpp files
*.hpp.gch
